* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  width: 90%;
  margin: 0 auto;
  padding-top: 50px;
}
.head {
  font-weight: 700;
  font-style: italic;
  background: #121fcf;
  background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav {
  background-color: white;
  box-shadow: 10px 10px 50px -17px rgba(0, 0, 0, 0.78);
  -webkit-box-shadow: 10px 10px 50px -17px rgba(0, 0, 0, 0.78);
  -moz-box-shadow: 10px 10px 50px -17px rgba(0, 0, 0, 0.78);
  border-radius: 10px;
}

.link {
  text-decoration: none;
  color: white;
  font-style: italic;
  font-size: 18px;
}
.link:hover {
  color: aliceblue;
}

table {
  width: 100%;
  background-color: bisque;
  border-radius: 8px;
  text-align: center;
}

.form-control {
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(45deg, slateblue, coral) border-box !important;
  border: 5px solid transparent !important;
  border-radius: 20px !important;
}
.popup{
  display: flex;
  justify-content: center;
}
.fixed-popup{
  position: absolute;
  top:10px;
  width: 140px;
  height: 40px;
  background-color: #ac3937;
  color: white;
  border-radius: 10px;
  padding: 10px;
  font-style: italic;
}